<!DOCTYPE html>
<html>
<head>
</head>
<body>

  <% if @links.any? %>
    <% @links.each do |link| %>
      <h2> <%= link.title %> </h2>
    <% end %>
  <% else %>
    No links yet
  <% end %>
  
  <a href="<%=new_link_path%>">Add a link</a>

</body>
</html>