<!DOCTYPE html>
<html>
<head>
</head>
<body>

  <p> <%= @room.name %></p>
  <p> <%= @room.description %></p>

  <% if @room.comments.any? %>
    <ul>
      <% @room.comments.each do |comment| %>
      <li>
        <%= comment.thoughts %>
      </li>
      <% end %>
    </ul>
  <% else %>
    <p>No comments</p>
  <% end %>

  <p><%= link_to 'Comment', new_room_comment_path(@room) %></p>

</body>
</html>